.main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}

.main_section,
.main_section2,
.main_section3 {
    position: relative;
    width: 330px;
    border: 1px solid rgb(190, 185, 185);
    background-color: white;
    padding: 8px 20px;
    line-height: 0px;
    margin: 0px auto;
    min-height: 60px;
    z-index: 2;
}

.main_header {
    position: relative;
    margin: 0px auto;
    width: 370px;
}

.head_h1 {
    position: relative;
    text-align: center;
    color: #fa3a74;
    z-index: 1111;
    background-color: #fff;
    font-size: 25px;
    width: 190px;
    margin: 15px auto;
}

.hl {
    border: 01px solid rgb(190, 185, 185);
    height: 0px;
    width: 370px;
    position: relative;
    top: -30px;
    z-index: 1;
}

.main_table td input {
    border: 0;
    color: inherit;
    font: inherit;
    accent-color: #fa3a74;
    cursor: pointer;
}

.usd {
    position: absolute;
    right: 30px;
    top: 10%;
}

.sub_usd1 {
    font-weight: 600;
    font-size: 15px;
}

.sub_usd2 {
    font-size: 11px;
    color: rgb(190, 185, 185);
}

.unit_offer {
    position: relative;
    left: 5px;
    top: 50%;
}

.offer {
    display: inline-flex;
    position: relative;
}

.unit_h1 {
    position: relative;
    font-weight: 700;
    font-size: 15px;
    top: 5px;
}

.unit_off {
    position: absolute;
    left: 53px;
    width: 100%;
    background-color: #fa3a74;
    color: #fff;
    font-size: 11px;
    text-align: center;
    padding: 8px 3px;
}

.std_price,
.std_price1 {
    font-size: 14px;
    position: relative;
    top: -2px;
}

.delivery {
    position: relative;
    display: inline-flex;
    width: 370px;
}

.delivery1 {
    margin-left: 0px;
    color: #fa3a74;
    font-weight: 600;
    font-size: 14px;

}

.delivery2 {
    position: absolute;
    right: 0px;
    justify-content: end;
    font-weight: 600;
    font-size: 14px;
}

.add {
    width: 370px;
    height: 35px;
    background-color: #fa3a74;
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}


.table {
    margin-left: 30px;
    font-size: 12px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.table tr td select {
    width: 75px;
    height: 25px;
    margin-right: 8px;
    border: 1px solid rgb(190, 185, 185);
    font-size: 12px;
    background-color: #ffffff;
}

.popular,
.popular1 {
    position: absolute;
    right: 5px;
    top: -7px;
    z-index: 1111;
    padding: 12px 10px;
    border-radius: 3px;
    background-color: #fa3a74;
    color: #fff;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    display: none;
}

.powered {
    width: 365px;
}

.sumesh {
    margin: 0;
    margin-top: 5px;
    text-align: right;
    font-size: 13px;
    color: rgb(190, 185, 185);
    font-style: italic;
}

@media screen and (max-width: 418px) {


    .main_section,
    .main_section2,
    .main_section3 {
        width: 250px;
    }

    .main_header {
        width: 260px;
    }

    .head_h1 {
        width: 190px;
    }

    .hl {
        width: 100%;
    }

    .delivery {
        width: 290px;
    }

    .add {
        width: 290px;
    }

    .powered {
        width: 290px;
    }
}